#override("body")
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height:60px;background:#3385ff;padding:10px">north region</div>
<div data-options="region:'west',split:true,title:'West'" style="width:150px;">
    <div class="easyui-accordion" data-options="fit:true,border:false">
        <div title="Title1">
            content1
        </div>
        <div title="Title2" data-options="selected:true">
            content2
        </div>
        <div title="Title3">
            content3
        </div>
    </div>
</div>
<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
<div data-options="region:'south',border:false" style="height:50px;background:#3385ff;padding:10px;">south region</div>
<div  class="easyui-tabs" data-options="region:'center',title:'Center'">
</div>
#end
#extends("common/parent.vm")